<footer class="footer">
  <div class="container">


    <div class="row">
      <div class="column">
       Address
       <br>
     <p>Bulevardul Vasile Pârvan 4 <br> Timișoara 300223</p>
      </div>
      <div class="column">
       Phone number
       <br>
       <p>0289 463 990</p>
      </div>
      <div class="column">
       E-mail
       <br>
       <p>flavia.medrea01@e-uvt.ro</p>
      </div>
    </div>

<hr class="hr1">

    <p>&copy; 2024 flavia.medrea01@e-uvt.ro. All rights reserved.</p>
  </div>
</footer>
