<br><br><br>
<mat-card class="custom">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onResetPassword(resetPasswordForm)" #resetPasswordForm="ngForm" *ngIf="!isLoading">
    <br>
    <mat-card-header>Forgot Password</mat-card-header>
    <br><br><br>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="New Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" name="confirmPassword" ngModel matInput placeholder="Confirm New Password" #confirmPasswordInput="ngModel" required>
      <mat-error *ngIf="confirmPasswordInput.invalid">Passwords must match.</mat-error>
    </mat-form-field>
    <br>
    <div class="info">*Password must include at least one capital letter, one number, and be at least 8 characters long.</div>
    <br>
    <button mat-raised-button color="blue" type="submit" [disabled]="resetPasswordForm.invalid">Save New Password</button>
    <br>
    <br><br>
  </form>
</mat-card>
