
<br><br><br>
<mat-card class="custom">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onForgotPassword(forgotPasswordForm)" #forgotPasswordForm="ngForm" *ngIf="!isLoading">
    <br>
    <mat-card-header>Forgot Password</mat-card-header>
    <br><br><br>
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="blue" type="submit" *ngIf="!isLoading">Reset Password</button>
    <br>
    <br><br>
  </form>
</mat-card>
